
<div class="container p-2 text-center w-50">
    <h1 class="text-center" >LOGIN PAGE</h1>
    <h6>{{aim}}</h6>
    <input class="form-control mt-2 pt-2" id="acid" (change)="acnoChange($event)" [placeholder]="accounts" type="text">
    <input class="form-control mt-2 pt-2" id="pid" (change)="pswdChange($event)" placeholder="password" type="text">
    <button type="button" (click)="login()" class="btn btn-primary mt-2">LOGIN</button><pre>

    </pre>
    <button onclick="registerhere()" type="button" class="btn btn-primary">register</button>
</div>