/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(../login2.jpg);
    /* background-color: chocolate; */
    background-repeat: no-repeat;
    background-size: cover;
}